
/* CSS RESET */
html, div, span, applet, object, iframe, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  caption, tbody, tfoot, thead { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0;  }
input, select, textarea { font:inherit; }



/* GLOBAL STYLES */
body { margin:20px auto; scroll-behavior: smooth; width:100%; background:lightgray;  font-family:'helvetica neue',helvetica,arial,sans-serif; font-size:120%; color:#466c83; line-height:20px; }
a { color:#f92a61; text-decoration: none;}
a:hover { text-decoration:none; }
img { vertical-align:text-bottom; }


/* NAVIGATION */
#nav { clear:both; float:center; overflow: hidden;  width:100%;font-size:80%; text-transform:uppercase; margin-bottom: 1%; letter-spacing:0.02em; }
#nav a { text-decoration:none; }
#nav .active a:hover { color:black; cursor:default; }
#mainnav { float:left; padding:9px 20px 0; width:100%; background:#aec4d1; border:1px solid #85a6ba; }
#mainnav a { float:left; padding:0 20px 9px; color:#466c83; }
#mainnav a:hover { color:#223540; }
#mainnav .active { float:left; position:relative; top:1px; margin:0 20px; background:#f9fcff url(../img/layout/gradient-white.png) repeat-x 0 0; border:1px solid #85a6ba; border-bottom:0; }
#mainnav .active a { padding:4px 20px; background:url(../img/layout/mainnav-triangle.gif) no-repeat 50% 100%; }
#mainnav .right { float:right; }
#nav .subnav { display:none; clear:both; float:left; padding:10px 0 9px 20px; width:100%; background:#f9fcff; border:1px solid #aec4d1; border-top:0; } /* jQuery will show the correct subnav */
#nav .subnav a,p { float:left; margin:0 20px 0 0; color:#85a6ba; }
#nav .subnav a:hover { color:#466c83; }
#nav .subnav .active a { padding:0 10px; background:#f92a61 repeat-x 0 0; color:#fff; }
#nav .subnav .right a { float:right; }

/* CONTENT */
#content { float:left; width:100%;height:auto;
    /* background:rgb(175, 175, 175); */
}
/* h1{
  
    text-align: center;
} */

h3{
    margin-top: 5%;
}



/* ROUNDED CORNERS */
#mainnav, #mainnav .active, #content .tabs .head { -moz-border-radius-topleft:6px; -moz-border-radius-topright:6px; -webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px; }
#nav .subnav, #content .tabs .body { -moz-border-radius-bottomleft:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-left-radius:6px; -webkit-border-bottom-right-radius:6px; }
#nav .subnav .active a, #content .message, #content .tabs .head .active a, #content .box, #content button, #content ul.pagination, #footer { -moz-border-radius:6px; -webkit-border-radius:6px; }


body{
    height: 100%;
}

#business , #expenses, #cashmanagement,#otherexpenses, #productionoverview, #pnl, #inventory, #inventorystores{
    position: absolute;
    width: 100%;  
  }


 .row1 .columns1, .row2 .columns2{
    height: 100%;
    

}
.row1, .row2, .row3 {
    height:50%;
}

.columns1 #column1,#column2,#column3, .columns2 #column4, #column5, #column6, .columns3 , #column7, #column8, #column9, #column10, #column11, #column12{
    position: relative;
    background-color: white;
    width:32.7%;
    margin-left: 0.20%;
    margin-right: 0.20%;
    float: left;
    margin-top: 0.5%;
}

#revenue, #GrossMargin, #ebitda, #netmargin, #totalexpenses, #costofmaterial, #employee,#otherexpense, #financecost,#Repairs,#powerandfuel
,#freight,#stores, #commision, #advertisement, #payment, #oclrevenue, #oclrevenue2,#ccc, #receivables, #payables, #inventoryoutstanding, #sales, #stock,#cementprice, #clinkerhandling, #clinkerfreight, #rnd,
#pnlocl, #pnljk, #pnlshree,#payout, #dayspay

{
    position: relative;
    height:320px;
    width: 100%;
}


.row3 .columns3, .row4 .columns4{
    
    padding:1%;
    height: 80%;
    margin-left: 1;

}
.row3, .row4 {
    height:50%;
}






/* production: */

.columns{
    margin-top: 0.5%;
    margin-left: 1%;
    width: 99%;
    height: 600px;   
    
}

.columns .col{
    
    width: 33%;
    float: left;
    
    
}
.columns .supcol{
    
    width: 25%;
    float: left;
    
    
}
.col .suprow {
    background-color: white;
    width:98%;
    float: left;
    height: 300px;
    margin-left:1%;
    margin-right:1%;
    margin-bottom: 1%;
    border-radius: 6px;
    text-align: center;
    
    }

.col .row {
background-color: white;
width:98%;
float: left;
height: 300px;
margin-left:1%;
margin-right:1%;
margin-bottom: 1%;
border-radius: 6px;
text-align: center;

}


table {
    margin-top: 4%;
    margin-left: 1%;
    font-family: arial, sans-serif;
    font-size:12px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#processwiseproduction,#productionvssales,#totalproduction, #inventorygraph1, #inventorygraph2, #inventorygraph3, #inventorygraph4,
#inventorygraph6, #inventorygraph5{
    height: 98%;
    width:99%;
    margin-top: 0.5%;
    margin-left: 1%;
    float: center;
    border-radius: 20px;
}

#zonewiseproduction{
    float: left;
    margin-top: 1%;
    height: 90%;
    width:100%;
    border-radius: 20px;
}

.row img{
    height: 100%;
    width:40%;
    overflow: hidden;
}




.box{
    margin-top: 1%;
    margin-left: 2%;
    width: 100%;
    height: 490px;
    background-color: lightgrey;
} 

#inventorystores1, #inventorystores2{
    margin-left: 1%;
    margin-top: 0.5%;
    width: 99%;
    height: 90%;
    

}
.box .box1, .box2{
   position: relative;
   width:46%;
   background-color: white;
   border-radius: 5px;
   margin-right: 1%;
   margin-left: 1%;
   float: left;    

}
